.idea/
gpt2-pure/openai-gpt2
__pycache__
gpt2-pure/models/__pycache__
gpt2-pure/__pycache__
mnist_network/data
mnist_network/mnist_images
mnist_network/mnist.pth
update_mnist_network/mnist_images
update_mnist_network/mnist_rotate.pth
fast_style_trans/__pycache__
fast_style_trans/data
fast_style_trans/output
fast_style_trans/vango.pth
fast_style_trans/pretrained
vgg19/data
vgg19/models
vgg19/pretrained
simple-yolov8/yolo_v8_n.pth
simple-yolov8/bus.jpg
simple-yolov8/bus_detected.jpg